<header>
<div class="uddin">
<h1>Baked by Uddin </h1>
</div>

<nav>

  <ul>
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/cookies">Cookies</a></li>
    <li><a href="/cakes">Cakes</a></li>
    <li><a href="/muffins">Muffins</a></li>
  </ul>
</nav >



<div class="container1">
<img class="mySlides slide_Img" src="/images/car1.jpg">
<img class="mySlides slide_Img" src="/images/car2.jpg">
<img class="mySlides slide_Img" src="/images/car3.jpg">
</div>

</header>
